.nav_logo_size {
    width: 25px;
    height: auto;
}

.text_color_orange {
    color: #ffc107;
}

.index_background {
    background-color: #ffc1077b;
    height: 200px;
    margin-top: 20px;
}

.text_error {
    color: red;
}